* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333333;
    color: aliceblue;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

header {
    background-color: #222222;
    color:#C9DFE7;
    height: 100vh;
    width: 400px;
    padding: 105px 70px;
    display:flex;
    flex-direction: column;
    
}

li {
    list-style: none;
}
a{
    text-decoration: none;
}

.header-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    margin: 70px 0px;
    display: flex;
}

.logo .drive-logo {
    max-width: 180px;
}

.menu-items {
    width: 100%;
    line-height: 30px;
    cursor: pointer;
}
.menu-items .item:hover{
    color:#ffffff;
    font-weight: bold;
    text-shadow: 4px 4px 8px #ffffff;}

.search-wrap {
    width: 100%;
    margin: 70px 0;
}
.search-wrap form{
    display:flex;
    height: 30px;
}
.search-box {
    font-family: 'Montserrat' ,sans-serif;
    font-size: 15px;
    color:white;
    border:none;
    border-bottom: 1px solid rgb(91, 94, 96);
    background-color: #222222;
}
.search-box:focus  {
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.search-form:focus-within .search-button {
    border-bottom: 1px solid rgb(91, 94, 96);
}
.search-button{
    border:none;
    border-bottom: 1px solid  rgb(91, 94, 96); 
    color: rgb(91, 94, 96);
    background-color: #222222;
    cursor: pointer;
}
.search-button:hover{
    color:#ffffff;
}
.search-button:active{
    color:#ffffff;
    font-weight: bold;
    text-shadow: 4px 4px 8px #ffffff;
}


.copyright {
    width: 100%;
    line-height: 25px;
}
.copyright p a{
    font-weight: 500;
    font-size:15px;

}

.fn-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: calc(100% - 400px);
    padding: 20px;
    margin-left: 400px;
    height: 100vh;
}

.content-inner {
    height: 50vh;
    display: flex;
    width: 100%;
}

.img-container {
    display: flex;
    margin-right: 20px;
    align-self: center;
    justify-content: center;
    width: 100%;
    max-width: 280px;
}

.image-holder {
    display: flex;
    width: 100%;
    height: auto; 
    align-self: center;
    justify-content: center;
    max-width: 350px;
    max-height: 350px; 
   
}

.ryan {
    --color: #ffffff; 
    --border: 10px;   
    --offset: 30px;  
    --gap: 5px;      
    
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background:
      radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
      radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: .4s;
}

.ryan:hover {
    --_s: 0px;
}



.bio-container {
    display: flex;
    width: 100%;
}

.bio {
    align-self: center;
}

.name {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.description {
    margin-bottom: 20px;
}

.social-list ul {
    display: flex;
}

.icon {
    margin-right: 8px;
}

.mobile-menu-container{
    display: flex;
    flex-direction: column;
    background-color: #222222;

}
.mobile-header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center; /* Logo ve menü ikonunu ortalar */
    justify-content: space-between; /* Logo ve menü ikonunu iki kenara yayar */
    padding: 0 20px; /* Sağdan ve soldan boşluk ekler */
    border-bottom:1px solid #4e4e4e;  
}
.logo-img{
    width: 100px;
}
.logo a{
    margin-left:15px;
    align-self: center;
}
.hambar a{
    color:white;
}
.mobile-menu{
    display: none;
    margin:20px 0px;
    padding:0px 20px;
    line-height: 30px;
}
.mobile-menu .mobile-menu-item a{
    color:aliceblue;
}
.mobile-menu .mobile-menu-item:hover{
    color:#ffffff;
    font-weight: bold;
    text-shadow: 4px 4px 8px #ffffff;}


@media (max-width: 1040px) {
    header {
        display: none;
    }
    .mobile-menu-container {
        display: flex;
    }
    .container{
        flex-direction: column;
    } 

    .fn-content {
        width: 100%;
        margin: 0;
        height: 100%;
        margin-top: 150px; /* Header yüksekliği kadar boşluk */
    }

    .content-inner {
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .img-container {
        margin-bottom: 30px;
    }

    .bio-container {
        margin-bottom: 30px;
    }

    .name {
        text-align: center;
    }

    .description p {
        text-align: justify;
    }

    .social-list ul {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1041px) {
    .mobile-menu-container {
        display: none;
    }
    header {
        display: flex;
    }
    .fn-content {
        width: calc(100% - 400px); /* Header genişliği kadar boşluk */
        margin:0;
        height: 100vh;
    }
}





